@{
    ViewBag.Title = "Home Page";
}

<main>
    @* Index.cshtml *@
    <div class="logo-container" style="text-align: right; padding: 10px;">
        <img src="~/Content/images/logo.jpeg" alt="Logo de la página" style="width: 100px; height: auto;" />
    </div>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" align="center">SOMOS EL AGUA DE QUITO</h1>
        <p class="lead">Somos la Empresa municipal encargada de la gestión del agua en el Distrito Metropolitana de Quito, desde la captación en las fuentes hasta el manejo de las aguas residuales urbanas pasando por todo el proceso de conducción, potabilización, distribución, recolección y tratamiento de las aguas residuales.</p>
        <p><a href="https://www.aguaquito.gob.ec/home/" class="btn btn-primary btn-md">Conoce más &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Calendarios de abastecimiento</h2>
            <p>
                Calendarios de Abastecimiento (Octubre) 2024. Debido al comportamiento de este verano, las altas temperaturas y el crecimiento poblacional, implementamos provisionalmente los cronogramas de abastecimiento de agua potabole para ciertas zonas del DMQ, donde esta medida necesaria, permite una distribución equitativa del recurso disponible.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.aguaquito.gob.ec/41864-2/">Leer más &raquo;</a></p>
            <div class="imagen-home">
                <img src="~/Content/images/abastecimiento.jpg" alt="Descripción de la imagen" style="width: 300px; height: auto;" />
            </div>


        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Calendarios de racionamiento</h2>
            <p>
                
                Esta decisión técnica permite distribuir el agua disponible, de forma equitativa hacia los sectores afectados por el clima.
                Epmaps agradece la comprensión ciudadana ante los efectos causados por la sequía que vive el país, y apela a la sensibilidad de los habitantes del DMQ, para garantizar el uso responsable y adecuado del agua.
                Con tu apoyo, Quito Renace.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.aguaquito.gob.ec/epmaps-implementa-cronograma-temporal-de-racionamiento-para-sectores-atendidos-por-la-planta-puengasi-3/">Leer más &raquo;</a></p>
            <div class="imagen-home">
                <img src="~/Content/images/racionamiento.jpg" alt="Descripción de la imagen" style="width: 300px; height: auto;" />
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Suspenciones por Racionamientos Eléctricos</h2>
            <p>
                Los cortes de energía eléctrica dispuestos por el Gobierno Nacional tienen un impacto directo en el suministro de agua potable en las zonas ubicadas en las partes altas de la ciudad.
                De acuerdo con los cronogramas de corte anunciados por la Empresa Eléctrica Quito para el 25, 26 y 27 de octubre de 2024.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.aguaquito.gob.ec/cortes-electricos-octubre/">Leer más &raquo;</a></p>
            <div class="imagen-home">
                <img src="~/Content/images/electricidad.jpg" alt="Descripción de la imagen" style="width: 300px; height: auto;" />
            </div>
        </section>
    </div>
</main>